# Dependencies
node_modules/
.env
.env.*
uploads/

# Environment variables
.env
.env.*
!.env.example

# Build files
dist/
build/
.next/
out/

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db